h1 {
    color: rgb(255, 196, 0);
    font-size: 34px;
    font-family: cursive;
}
h2 {
    font-size: 40px;
    color: rgb(46, 45, 43);
}
p {
    margin-left: 40px;
    font-size: 30px;
    font-family: cursive;
    color: (255, 196, 0);
    
}
img {
    margin-left: 100px;
    width: 150px;
    border: 0px solid #555;
    border-radius: 20px;
}
body {
    background:linear-gradient(to right, #96f3f1, #3b27e8);
}